<div style="width: 100%;height: 100%;background-color: #c2c3c4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Book</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Book Name</mat-label>
                <input  matInput  placeholder="Book name"  name="bookName"  required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book Publisher</mat-label>
              <input  matInput  placeholder="Book Publisher" name="bookPublisher"  required>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book Edition</mat-label>
              <input  matInput  placeholder="Last Name" name="bookEdition"  required>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book Genre</mat-label>
              <input  matInput  placeholder="Book Genre"  name="bookGenre">
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book isbn</mat-label>
              <input  matInput  placeholder="Book isbn" name="bookIsbn">
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book Price</mat-label>
              <input  matInput  placeholder="Book Price" name="bookPrice"  required>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Book Pages</mat-label>
              <input  matInput  placeholder="Book Pages" name="bookPages"  required>
            </mat-form-field></td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <mat-label>Registered</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field></td>
          </tr>
          <br/>
          <tr>
            <td>
              <button style="left: 101px" mat-raised-button color="primary">Add Book</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
</div>
